.ReadSection {
  .content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 600;
      font-size: 1.5em;
      color: #ffffff;
    }
  }

  .spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: repeating-conic-gradient(#474bff 0 90deg, #dbdcef 0 180deg);
    animation: spinner-a78xsi 1s infinite linear;
  }

  @keyframes spinner-a78xsi {
    100% {
      transform: rotate(1turn);
    }
  }
}

@media (max-width: 600px) {
  .ReadSection {
    .p-32 {
      padding: 5%;
    }
  }
}
